@charset "ISO-8859-1";
/*
El texto principal:
El color del texto es azul: #00F.
El color de fondo del texto es verde claro: #CFC.
El tipo de letra es la secuencia: Georgia, Cambria, serif.
El tamaño del texto: 16px.
*/
body{
	color: #00F;
	background-color: #CFC;	
	font: 16px georgia,Cambria,serif;
}

/*
El encabezado de nivel 1:
El color del texto es rojo claro: #F00.
El tipo de letra es la secuencia: Verdana, Calibri, sans-serif.
El tamaño del texto: 32px.
*/

h1{
	color:#F00;
	font: bold 32px Verdana, Calibri, sans-serif;
	
}
/*
El encabezado de nivel 2:
El color del texto es rojo claro: #A00.
El tipo de letra es la secuencia: Verdana, Calibri, sans-serif.
El tamaño del texto: 24px.
*/
h2{
	color:#A00;
	font: bold 24px Verdana, Calibri, sans-serif;
}

/*
El color de los campos de los datos del libro es verde oscuro: #060.
*/
li span{
	color: #060;
}
/*
El texto "Internet" y la "Web" cuando actúan como sustantivos:
El tamaño del texto: 20px.
Texto en negrita.
*/
.sustantivo{
	font-size: 20px;
	font-weight: bold;
	color: blue;
}
/*
El texto "Hypertext Markup Language", "Cascading Style Sheets" y los acrónimos "HTML" y "CSS":
El color del texto es blanco: #FFF.
El color de fondo del texto es negro: #000.
Texto en cursiva.
*/
.conceptos{
	color: #FFF;
	background-color: #000;
	font-style: italic;;
}